/* Menu Dropdown */
.dropdown-menu {
  background-color: rgba(199, 203, 207, 0.9) !important; 
  border: none !important; 
}


.dropdown-item {
  color: white; 
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: rgba(73, 80, 87, 0.9) !important; 
  color: #ffffff !important; 
  cursor: pointer; 
}

/* Pulsante del Dropdown */
.dropdown-toggle {
  background-color: #212529 !important;  
  color: white !important ; 
  border-color: #ffffff !important; 
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: #343a40 !important; 
  color: #ffffff !important; 
  border-color: #ffffff !important; 
}

